@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp'); */

:root {
  box-sizing: border-box;

  font-size: 16px;

  --color-back: #f0e9dd;
  --color-back-sec: #e3dcd1;

  --color-mid-black: #000;
  --color-mid-white: #fff;
  --color-mid-blue: #245773;
  --color-mid-red: #dc321e;
  --color-mid-orange: #f70;
  --color-mid-yellow: #fa0;

  --color-text-black: #000;
  --color-text-white: #fff;
  --color-text-red: #f00a00;
  --color-text-blue: #245773;

  --shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

*,
::before,
::after {
  box-sizing: inherit;
}

@media (max-width: 800px) {
  body {
      font-size: 0.75rem;
  }
}

@media (min-width: 1200px) {
  body {
      font-size: 1rem;
  }
}

body {
  font-family: 'PT Serif', Times, 'Times New Roman', serif;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-back);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
